<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--ROBOTO-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!--FONT-AWESOME-->    
    <script src="https://kit.fontawesome.com/ad3d3e61e2.js" crossorigin="anonymous"></script>      
    
    <!--ESTILOS-->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="main-header-top-bar">             
            <div class="logo-nav-bar">
                <!--LOGO-->
                <div class="img-logo">
                    <img src="images/logo-mercado-liebre.svg" alt="logo" >
                </div>
                <!--BARRA DE BÚSQUEDA-->
                <div class="icono-busqueda">
                    <input type="text" name="BarraBusqueda" placeholder="Buscar productos, marcas">     
                        <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <!--Comprá en cuotas y sin tarjeta de crédito-->
            <div class="compra-en-cuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </div>  
        </div>

   
        <nav class="main-navbar">          
            <ul class="left-navbar"> 
                <li type="none">
                    <a href=""> Ofertas</a></li>
                <li type="none">
                    <a href=""> Tiendas oficiales</a></li>
                <li type="none">
                    <a href=""> Vender</a></li>
                <li type="none">
                    <a href=""> Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li type="none"><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li type="none"><a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li type="none"><a href="/misCompras"> Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i id="hamburguesa" class="fas fa-bars"></i>
        </div>
    </header>
            <img class="banner"  src="images/img-home-banner.jpg" alt="logo" >
    <main>
        <h3>Basado en tu última visita</h3>
        <section class="products1">
            <article class="card">                
                <div>
                    <img class="card-producto-img" src="images/img-cafetera-moulinex.jpg">
                </div>
                    <article class="hijo">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                            <div class="precio-desc">
                            <p class="precios">
                                $6.770 
                            </p>
                            <p class="desc">
                                40% OFF<br>
                            </p>
                        </div>
                        <p class="strong">
                            <strong>Cafetera Moulinex </strong>
                            <br>
                        </p>
                    </article>
            </article>
            <article class="card">
                <div>
                    <img class="card-producto-img" src="images/img-macbook-pro-2019.jpg"><br>
                </div>
                    <article class="hijo">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-desc">
                            <p class="precios">
                                $230.000
                            </p>
                            <p class="desc">
                                20% off<br>
                            </p>
                        </div>
                        <p class="strong">
                            <strong>MacBook Pro 2019</strong>
                            <br>
                        </p>
                    </article>
            </article>
            <article class="card">
                <div>
                    <img class="card-producto-img" src="images/img-samsung-galaxy-s10.jpg"><br>
                </div>
                    <article class="hijo">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-desc">
                            <p class="precios">
                                $70.500
                            </p>
                            <p class="desc">
                                10% off
                            </p>
                        </div>
                        <p class="strong">
                            <strong>Samsung Galaxy S10</strong>
                            <br>
                        </p>
                    </article>
            </article>
            <article class="card">
                <div>
                    <img class="card-producto-img" src="images/img-tv-samsung-smart.jpg"><br>
                </div>
                <article class="hijo">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-desc">
                        <p class="precios">
                            $23.200
                        </p>
                        <p class="desc">
                            5% off<br>
                        </p>
                    </div>
                    <p class="strong">
                        <strong>SmartTv Samsung 43"</strong>
                        <br>
                    </p>
                </article>
            </article>
        </section>

        <h3>Ofertas</h3>

        <section class="products2">
            <article class="card">
                <div>
                    <img class="card-producto-img"  src="images/img-cafetera-moulinex.jpg">
                </div>
                <article class="hijo">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-desc">
                        <p class="precios">
                            $6.770 
                        </p>
                        <p class="desc">
                            40% OFF
                        </p>
                    </div>
                    <p class="strong">
                        <strong>Cafetera Moulinex</strong>
                    </p>
                </article>
            </article>
            <article class="card">
                <div>
                    <img class="card-producto-img"  src="images/img-macbook-pro-2019.jpg"><br>
                </div>
                <article class="hijo">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-desc">
                        <p class="precios">
                            $230.000
                        </p>
                        <p class="desc">
                            20% off<br>
                        </p>
                    </div>
                    <p class="strong">
                        <strong>MacBook Pro 2019</strong>
                        <br>
                    </p>
                </article>
            </article>
            <article class="card">
                <div>
                    <img class="card-producto-img"  src="images/img-samsung-galaxy-s10.jpg"><br>
                </div>
                <article class="hijo">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-desc">
                        <p class="precios">
                            $70.500
                        </p>
                        <p class="desc">
                            10% off<br>
                        </p>
                    </div>
                    <p class="strong">
                        <strong>Samsung Galaxy S10</strong>
                    </p>
                </article>
            </article>
            <article class="card">
                <div>
                    <img class="card-producto-img"  src="images/img-tv-samsung-smart.jpg"><br>
                </div>
                <article class="hijo">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-desc">
                        <p class="precios">
                            $23.200
                        </p>
                        <p class="desc">
                            5% off<br>
                        </p>  
                    </div>
                    <p class="strong">
                        <strong>SmartTv Samsung 43"</strong>
                    </p>
                </article>
            </article>
        </section>     
    </main>
    <footer>
        <div>
            <i class="fa-solid fa-credit-card"></i>
        </div>
        <p> 
            <strong>Pagá con tarjeta o en efectivo</strong>
            <br>
        Con Mercado Liebre Cash, tenés cuotas sin <br>
        interés con tarjeta o efectivo en puntos de<br>
        pago. ¡Y siempre es seguro!
        </p><br>
        <div>
            <i class="fa-solid fa-gift"></i>
        </div>
        <p> 
            <strong>Envío gratis desde $ 2.500</strong><br>
        Solo por estar registrad@ en Mercado Liebre<br>
        tenés envíos gratis en miles de productos. Es<br>
        un beneficio de Mercado Puntos.
        </p><br>
        <div >
            <i class="fa-solid fa-user-shield"></i>
        </div>
        <p> 
            <strong>Seguridad, de principio a fin</strong>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br>
        no hay nada que no puedas hacer,porque estás<br>
        siempre protegid@.
        </p><br>
        <p>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
    </footer>
</body>
</html>